@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* font-size: 62.5%; */
}

body { 
    font-size: 14px;
}

@layer base { 
    body {
        @apply bg-prepaf-gray-50;
    }
    
    header, footer {
        @apply text-prepaf-black-800 font-medium;
    }
    
    button {
        @apply w-[400px] h-[50px] font-bold rounded;
    }

    input {
        @apply w-[400px] h-[40px] rounded;
    }
}

@layer components {
    .input-gray {
        @apply bg-prepaf-gray-100 
    }

    .btn-green {
        @apply  bg-prepaf-green-400 hover:bg-prepaf-green-300 transition duration-300 text-white
    }
    .btn-red {
        @apply  bg-prepaf-red-800 hover:bg-prepaf-red-600 transition text-white
    }
    .btn-orange {
        @apply bg-prepaf-orange hover:bg-prepaf-orange-200 transition text-white
    }
}