@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

body { 
    font-size: 14px;
}

@layer base { 
    body {
        @apply bg-prepaf-gray-50;
    }
    
    header, footer {
        @apply text-prepaf-black-800 font-medium;
    }
    
    button {
        @apply h-[50px] font-bold rounded;
    }

    input {
        @apply  h-[40px] rounded;
    }

   *:focus {
        @apply outline-prepaf-orange-500;
    }

    li > a {
        @apply hover:text-prepaf-orange-400 transition-colors;
    }
}

@layer components {
    .btn-green {
        @apply  bg-prepaf-green-400 hover:bg-prepaf-green-300 transition duration-300 text-white
    }
    .btn-red {
        @apply  bg-prepaf-red-800 hover:bg-prepaf-red-600 transition text-white
    }
    .btn-orange {
        @apply bg-prepaf-orange-400 hover:bg-prepaf-orange-200 transition text-white
    }
}