@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
}

body { 
    font-size: 1.4rem;
    font-weight: 500;
    color: #1E1E1E;
}
